{% load static %}

<li>
  <article class="post">
    <a href="{{ post.get_absolute_url }}"> {% comment "" %} Here we add the name of the url that we have set{% endcomment %}
      {% if post.image_name %}
        <img src="{% static 'blog/images/'|add:post.image_name %}" alt={{post.slug}} />
      {% endif %}
      {% if post.image %}
        <img src="{{ post.image.url }}" alt={{post.slug}} />
      {% endif %}
      <div class="post__content">
        <h3>{{ post.title }}</h3>
        <p>
          {{ post.content | slice:":100" }}...{% comment "" %} Here we slice the content to 100 characters{% endcomment %}
        </p>
      </div>
    </a>
  </article>
</li>