{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header id="main-navigation">
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">All posts</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>